* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: black;
}
.center-text {
  text-align: center;
  background-color: gray;
}
.headerContainer {
  position: fixed;
  top: 0;
}
.headerSubContainer {
  margin: auto;
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}
.headerList {
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoContainer {
  color: dodgerblue;
}
.rightheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 12px;
}
.signinbtn {
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 16px;
}
.headerItem:hover {
  color: dodgerblue;
  cursor: pointer;
}
